#main {
    margin-left: 200px;
    margin-bottom: 50px;
}

#main p {
    font-size: 80%;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
}

#main h4 {
    margin-bottom: 0px;
    color: #990000;
    font-size: 90%;
}

#main h5 {
    margin-top: 0px;
    text-align: center;
}


.click_year a:link {
    border-bottom: 1px dashed;
    color: green;    
    font-size: 120%;
}

.click_year a:hover {
    text-decoration: none;
    font-size: 120%;
}

.click_year a:visited {
    text-decoration: none;
    color: green;
    border-bottom: 1px dashed;
    font-size: 120%;
}

.our_author {
    text-decoration: underline;
}

.author {
    font-weight: bold;
}

.journal_title {
    font-weight: bold;
    font-style: italic;
}

