#main {
    margin-left: 200px;
    margin-bottom: 50px;
    padding-right: 50px;    
}

.paper_list {
    font-size: 80%;
}

#main ul li {
    margin-top: 20px;
}

.journal_title {
    font-weight: bold;
    font-style: italic;
}

.author {
    font-weight: bold;
}

.click_year a:link {
    border-bottom: 1px dashed;
    color: green;
}

.click_year a:hover {
    text-decoration: none;
}

.click_year a:visited {
    text-decoration: none;
    color: green;
    border-bottom: 1px dashed;
}

.our_author {
    text-decoration: underline;
}
