

#main {
    margin-left: 200px;
    margin-bottom: 50px;
}

.students_table {
    border-collapse: collapse;
    width: 750px;
}

.students_table caption {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 3px;
}

.students_table th, td {
    padding-right: 5px;
    font-size: 80%;
    border: 1px solid white;
    text-align: left;   
}


.students_table th {
    color: #000066;
    background: #DDEBFF;
}

.students_table thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.students_table thead tr .headerSortUp {
    background-image: url(../images/asc.gif);
}

.students_table thead tr .headerSortDown {
    background-image: url(../images/desc.gif);
}

.students_table thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.students_table tbody tr.odd td {
    background-color: #DDEBFF;
}

.students_table tr.over td{  
    color: red;  
}  

.students_image {
    margin-top: 20px;
    display: block;
}

.students_image_131210 {
    margin-top: 20px;
    margin-left: 5px;
    display: block;
    box-shadow: 10px 10px 20px gray;
}

.name {
    width: 110px;
}

.year {
    width: 80px;
}

.lab_status {
    width: 90px;
}

.supervisor {
    width: 80px;
}

.degree {
    width: 60px;
}

.undergraduate {
    width: 170px;
}
